
$breakpoints: (
  phone: 480px,
  phablet: 600px,
  tablet: 800px,
  laptop: 1000px,
  desktop: 1200px,
  wide: 1600px,
  superwide: 1800px
);
@function breaks($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @return map-get($breakpoints, $breakpoint);
  }
}
@each $value, $break in $breakpoints { // breakpoint hider classes
  .bp-#{$value} {
    @media (max-width: $break - 1) {
    display: none;
    }
  }
}
