
$black: #000;
$white: #fff;

// grayscale
$grayscale: (
  00: #000,
  10: #121314,
  20: #212223, // nearBlack
  30: #343536, // grayVeryDark
  40: #4c4d4e, // grayDark
  50: #757677, // grayMid
  60: #a6a7a8, // grayLight
  70: #d0d1d2, // grayVeryLight
  80: #eaebec, // graySuperLight
  90: #f5f6f7, // nearWhite
  95: #fcfdfe, // nearWhite bg
 100: #fff
);
@function gray($shade) {
  @if map-has-key($grayscale, $shade) {
    @return map-get($grayscale, $shade);
  }
}
@each $value, $gray in $grayscale { // grayscale classes for inline use
  .gray-#{$value} {
    color: $gray;
  }
  .bg-gray-#{$value} {
    background-color: $gray;
  }
  .border-gray-#{$value} {
    border-color: $gray;
  }
  :root {
    --gray-#{$value}: #{$gray};
  }
}
// colors
$colors: (
  blue: #2196F3,
  aqua: #4DD0E1,
  red: #D32F2F,
  yellow: #FDD835,
  green: #43A047,
  pink: #F48FB1,
  tan: #B19863,
  brown: #6D4C41,
  purple: #9575CD,
  orange: #FFA726,
  black: #212121
);
@function color($color) {
  @if map-has-key($colors, $color) {
    @return map-get($colors, $color);
  }
}
@each $value, $color in $colors { // color classes for inline use
  .color-#{$value} {
    color: $color;
  }
  .bg-color-#{$value} {
    background-color: $color;
  }
  .border-color-#{$value} {
    border-color: $color;
  }
}

.color-wild {
  background: color(blue);
  background: linear-gradient(to right, color(red) , color(yellow), color(blue), color(pink));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: transparent;
}

.color-blank {
  color: white;
  -webkit-text-stroke: 0.5px black;
}

:root {
  --frameBorder: var(--gray-70);
}
