
.flex {
  display: flex;
}
.column {
  flex-direction: column;
}
.row {
  flex-direction: row;
}
.align-center {
  align-items: center;
}
.align-stretch {
  align-items: stretch;
}
.align-start {
  align-items: flex-start;
}
.align-end {
  align-items: flex-end;
}
.align-self-end {
  align-self: flex-end;
}
.justify-start {
  justify-content: flex-start;
}
.justify-center {
  justify-content: center;
}
.justify-end {
  justify-content: flex-end;
}
.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
}
.justify-self-center {
  justify-self: center;
}
.wrap {
  flex-wrap: wrap;
}
.space-around {
  align-content: space-around;
}
.space-between {
  align-content: space-between;
}
.split { // splits flexed elements into left/right (only-children shift to right side)
  margin-left: auto !important;
}
.margin-center {
  margin-left: auto;
  margin-right: auto;
}

$flex: 9;
@while $flex > 0 { // flex 1 - 9
  .flex-#{$flex} {
      flex: $flex;
  }
  $flex: $flex - 1;
}
