
$spacing: (
  0: 0,
 25: 0.25rem,
 50: 0.5rem,
 75: 0.75rem,
  1: 1rem,
125: 1.25rem,
150: 1.5rem,
175: 1.75rem,
  2: 2rem,
250: 2.5rem,
  3: 3rem,
375: 3.75rem,
  4: 4rem,
  5: 5rem
);
@each $value, $mar in $spacing { // margin utility classes
.m-#{$value} {
  margin: $mar;
}
.mt-#{$value} {
  margin-top: $mar;
}
.mr-#{$value} {
  margin-right: $mar;
}
.mb-#{$value} {
  margin-bottom: $mar;
}
.ml-#{$value} {
  margin-left: $mar;
}
.mx-#{$value} {
  margin-right: $mar;
  margin-left: $mar;
}
.my-#{$value} {
  margin-top: $mar;
  margin-bottom: $mar;
}
}
.m-auto {
margin: auto;
}
@each $value, $pad in $spacing { // padding utility classes
.p-#{$value} {
  padding: $pad;
}
.pt-#{$value} {
  padding-top: $pad;
}
.pr-#{$value} {
  padding-right: $pad;
}
.pb-#{$value} {
  padding-bottom: $pad;
}
.pl-#{$value} {
  padding-left: $pad;
}
.px-#{$value} {
  padding-right: $pad;
  padding-left: $pad;
}
.py-#{$value} {
  padding-top: $pad;
  padding-bottom: $pad;
}
}
